<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <xacro:include filename="inertial_macros.xacro"/>

    <material name="white">
        <color rgba="1 1 1 1" />
    </material>

    <material name="orange">
        <color rgba="1 0.3 0.1 1"/>
    </material>

    <material name="blue">
        <color rgba="0.2 0.2 1 1"/>
    </material>

    <material name="black">
        <color rgba="0 0 0 1"/>
    </material>

    <!-- BASE LINK -->

    <link name="base_link">

    </link>

    <!-- CHASSIS LINK -->

    <joint name="chassis_joint" type="fixed">
        <parent link="base_link"/>
        <child link="chassis"/>
        <origin xyz="-0.15499 0 -0.02125"/>
    </joint>

    <link name="chassis">
        <visual>
            <origin xyz="0.287615 0 0.114675"/>
            <geometry>
                <box size="0.57523 0.22585 0.22935"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <origin xyz="0.287615 0 0.114675"/>
            <geometry>
                <box size="0.57523 0.22585 0.22935"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.5" x="0.57523" y="0.22585" z="0.22935">
            <origin xyz="0.287615 0 0.114675" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>

    <!-- LEFT WHEEL LINK -->

    <joint name="left_wheel_joint" type="fixed">
        <parent link="base_link"/>
        <child link="left_wheel"/>
        <origin xyz="0 0.137925 0" rpy="-1.571 0 0" />
        <axis xyz="0 0 1"/>
    </joint>

    <link name="left_wheel">
        <visual>
            <geometry>
                <cylinder radius="0.0925" length="0.04"/>
            </geometry>
            <material name="blue"/>
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.0925" length="0.04"/>
            </geometry>
        </collision>
        <xacro:inertial_cylinder mass="0.1" length="0.04" radius="0.0925">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_cylinder>
    </link>

    <!-- RIGHT WHEEL LINK -->

    <joint name="right_wheel_joint" type="continuous">
        <parent link="base_link"/>
        <child link="right_wheel"/>
        <origin xyz="0 -0.137925 0" rpy="${pi/2} 0 0" />
        <axis xyz="0 0 -1"/>
    </joint>

    <link name="right_wheel">
        <visual>
            <geometry>
                <cylinder radius="0.0925" length="0.04"/>
            </geometry>
            <material name="blue"/>
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.0925" length="0.04"/>
            </geometry>
        </collision>
        <xacro:inertial_cylinder mass="0.1" length="0.04" radius="0.0925">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_cylinder>
    </link>

    <!-- CASTER WHEEL LINK -->

    <joint name="caster_wheel_joint" type="fixed">
        <parent link="chassis"/>
        <child link="caster_wheel"/>
        <origin xyz="0.41 0 0"/>
    </joint>


    <link name="caster_wheel">
        <visual>
            <geometry>
                <sphere radius="0.05"/>
            </geometry>
            <material name="black"/>
        </visual>
        <collision>
            <geometry>
                <sphere radius="0.05"/>
            </geometry>
        </collision>
        <xacro:inertial_sphere mass="0.1" radius="0.05">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_sphere>
    </link>

    <joint name="raspberry_pi_joint" type="fixed">
        <parent link="chassis"/>
        <child link="raspberry_pi"/>
        <origin xyz="0.29215 -0.0109 0.015"/>
    </joint>


    <link name="raspberry_pi">
        <visual>
            <geometry>
                <mesh filename="package://ros2_automower_description/meshes/pi_3b.stl"/>
            </geometry>
            <material name="blue"/>
        </visual>
    </link>

    <!-- SENSORS -->

    <!-- SONAR SENSOR FRONT RIGHT -->

    <joint name="sonar_front_right_joint" type="fixed">
    <axis xyz="0 1 0" />
    <origin rpy="0 0 0" xyz="0.41966 -0.039825 0.10134" />
    <parent link="base_link"/>
    <child link="base_sonar_front_right"/>
    </joint>
    <link name="base_sonar_front_right">
        <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
            <box size="0.01 0.01 0.01"/>
        </geometry>
        </collision>
        <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
            <box size="0.01 0.01 0.01"/>
        </geometry>
        </visual>
        <inertial>
        <mass value="1e-5" />
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
        </inertial>
    </link>

    <gazebo reference="base_sonar_front_right">        
    <sensor type="ray" name="TeraRanger">
        <pose>0 0 0 0 0 0</pose>
        <visualize>true</visualize>
        <update_rate>50</update_rate>
        <ray>
            <scan>
                <horizontal>
                <samples>10</samples>
                <resolution>1</resolution> 
                <min_angle>-0.14835</min_angle>
                <max_angle>0.14835</max_angle>
                </horizontal>
                <vertical>
                <samples>10</samples>
                <resolution>1</resolution> 
                <min_angle>-0.14835</min_angle>
                <max_angle>0.14835</max_angle> 
                </vertical>
            </scan>
            <range>
                <min>0.01</min>
                <max>2</max>
                <resolution>0.02</resolution>
            </range>
        </ray>
        <plugin filename="libgazebo_ros_range.so" name="gazebo_ros_range">
            <gaussianNoise>0.005</gaussianNoise>
            <alwaysOn>true</alwaysOn>
            <updateRate>50</updateRate>
            <topicName>sensor/sonar_front_right</topicName>
            <frameName>base_sonar_front_right</frameName>
            <fov>0.2967</fov>
        </plugin>
    </sensor>  
    </gazebo>

    <!-- SONAR SENSOR FRONT RIGHT -->

    <joint name="sonar_front_left_joint" type="fixed">
        <axis xyz="0 1 0" />
        <origin rpy="0 0 0" xyz="0.41966 0.039825 0.10134" />
        <parent link="base_link"/>
        <child link="base_sonar_front_left"/>
    </joint>
    <link name="base_sonar_front_left">
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.01 0.01 0.01"/>
            </geometry>
        </collision>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.01 0.01 0.01"/>
            </geometry>
        </visual>
        <inertial>
            <mass value="1e-5" />
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
        </inertial>
    </link>

    <gazebo reference="base_sonar_front_left">        
    <sensor type="ray" name="TeraRanger">
        <pose>0 0 0 0 0 0</pose>
        <visualize>true</visualize>
        <update_rate>50</update_rate>
        <ray>
            <scan>
                <horizontal>
                <samples>10</samples>
                <resolution>1</resolution> 
                <min_angle>-0.14835</min_angle>
                <max_angle>0.14835</max_angle>
                </horizontal>
                <vertical>
                <samples>10</samples>
                <resolution>1</resolution> 
                <min_angle>-0.14835</min_angle>
                <max_angle>0.14835</max_angle> 
                </vertical>
            </scan>
            <range>
                <min>0.01</min>
                <max>2</max>
                <resolution>0.02</resolution>
            </range>
        </ray>
        <plugin filename="libgazebo_ros_range.so" name="gazebo_ros_range">
            <gaussianNoise>0.005</gaussianNoise>
            <alwaysOn>true</alwaysOn>
            <updateRate>50</updateRate>
            <topicName>sensor/sonar_front_left</topicName>
            <frameName>base_sonar_front_left</frameName>
            <fov>0.2967</fov>
        </plugin>
    </sensor>  
    </gazebo>

    <!-- SONAR SENSOR LEFT-->

    <joint name="sonar_left_joint" type="fixed">
    <axis xyz="0 1 0" />
    <origin rpy="0 0 ${pi/2}" xyz="0.2765 0.112925 0.10134" />
    <parent link="base_link"/>
    <child link="base_sonar_left"/>
    </joint>
    <link name="base_sonar_left">
        <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
            <box size="0.01 0.01 0.01"/>
        </geometry>
        </collision>
        <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
            <box size="0.01 0.01 0.01"/>
        </geometry>
        </visual>
        <inertial>
        <mass value="1e-5" />
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
        </inertial>
    </link>

    <gazebo reference="base_sonar_left">        
    <sensor type="ray" name="TeraRanger">
        <pose>0 0 0 0 0 0</pose>
        <visualize>true</visualize>
        <update_rate>50</update_rate>
        <ray>
            <scan>
                <horizontal>
                <samples>10</samples>
                <resolution>1</resolution> 
                <min_angle>-0.14835</min_angle>
                <max_angle>0.14835</max_angle>
                </horizontal>
                <vertical>
                <samples>10</samples>
                <resolution>1</resolution> 
                <min_angle>-0.14835</min_angle>
                <max_angle>0.14835</max_angle> 
                </vertical>
            </scan>
            <range>
                <min>0.01</min>
                <max>2</max>
                <resolution>0.02</resolution>
            </range>
        </ray>
        <plugin filename="libgazebo_ros_range.so" name="gazebo_ros_range">
            <gaussianNoise>0.005</gaussianNoise>
            <alwaysOn>true</alwaysOn>
            <updateRate>50</updateRate>
            <topicName>sensor/sonar_left</topicName>
            <frameName>base_sonar_left</frameName>
            <fov>0.2967</fov>
        </plugin>
    </sensor>  
    </gazebo>

    <!-- SONAR SENSOR RIGHT-->

    <joint name="sonar_right_joint" type="fixed">
    <axis xyz="0 1 0" />
    <origin rpy="0 0 -${pi/2}" xyz="0.2765 -0.112925 0.10134" />
    <parent link="base_link"/>
    <child link="base_sonar_right"/>
    </joint>
    <link name="base_sonar_right">
        <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
            <box size="0.01 0.01 0.01"/>
        </geometry>
        </collision>
        <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
            <box size="0.01 0.01 0.01"/>
        </geometry>
        </visual>
        <inertial>
        <mass value="1e-5" />
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
        </inertial>
    </link>

    <gazebo reference="base_sonar_right">        
    <sensor type="ray" name="TeraRanger">
        <pose>0 0 0 0 0 0</pose>
        <visualize>true</visualize>
        <update_rate>50</update_rate>
        <ray>
            <scan>
                <horizontal>
                <samples>10</samples>
                <resolution>1</resolution> 
                <min_angle>-0.14835</min_angle>
                <max_angle>0.14835</max_angle>
                </horizontal>
                <vertical>
                <samples>10</samples>
                <resolution>1</resolution> 
                <min_angle>-0.14835</min_angle>
                <max_angle>0.14835</max_angle> 
                </vertical>
            </scan>
            <range>
                <min>0.01</min>
                <max>2</max>
                <resolution>0.02</resolution>
            </range>
        </ray>
        <plugin filename="libgazebo_ros_range.so" name="gazebo_ros_range">
            <gaussianNoise>0.005</gaussianNoise>
            <alwaysOn>true</alwaysOn>
            <updateRate>50</updateRate>
            <topicName>sensor/sonar_right</topicName>
            <frameName>base_sonar_right</frameName>
            <fov>0.2967</fov>
        </plugin>
    </sensor>  
    </gazebo>
    
</robot>